<section class="speaker-wrap">
  <div class="container">
  <div class="row ">
    <div class="col-sm-4">
      <h3>{{ content.field_title }}</h3>
      <h5>{{ content.field_designation_company }}</h5>
      <p>{{ content.body }}</p>
    </div>
    <div class="col-sm-6 col-sm-push-2">
      {{ content.field_speaker_image }}
    </div>
  </div>
  </div>
</section>
