<div class="com-sm-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d121042.67441736467!2d73.839259!3d18.547711!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0835f1bdd24e722!2sSymbiosis+Institute+of+Management+Studies!5e0!3m2!1sen!2sin!4v1529305947877" width="50%" height="250px" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


